body {
  background-color:#d2f1f1;
}

.converter-container {
  margin: 0 auto;
  margin-top: 10rem;
  width: 30rem;
  height: 22rem;
  border: 3px solid #34d081;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

.convertedCurrencyNumberP {
  font-size: 2rem;
  margin-bottom: -0.5rem;
}

select {
  border: 3px solid #34d081;
}

button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 1rem;
  background-color: #34d081;
}

input {
  border: 3px solid #34d081;
}